
body {
  /* background-color: gainsboro; */
  font-family: "Open Sans", sans-serif;
 background-color: #5bc4a8;
  
}
#table_data{
 
  width: 100%;
  background-color:  #fff;
  color:#000;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}
th{

  padding: 10px;
  border-collapse: collapse;
  
  
}
table tr:not(:first-child):not(:second-child):hover {
  background-color:gainsboro;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container {
  
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
}
.table_con{
  margin-top: 50px;
}
#table_data {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button_add {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color:#1ECD97;
  letter-spacing:1px;
  text-shadow:0;
 
  cursor: pointer;
  transition: all 0.25s ease;
}
 
.button_add:hover {
  color:white;
  background: #1ECD97;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}



.modal-header {
  padding: 2px 16px;
  background-color:#1ECD97;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  margin-bottom: 30px;
  
}
#inputData{
  text-align:left ;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#myBtn{
  
  float: right;
  

}
#doc_text{
  font-weight: bold;
  
  padding-left:50px ;
  text-align: left;
  
  
}

@media only screen and (min-width: 1200px){
  .modal-content {
    width: 30%;
  }
  .container {
  
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
  }
  

}

@media only screen and (max-width: 1200px){
  .modal-content {
    width: 80%;
  }
  .container {
  
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  #doc_text{
    
    padding-left:20px ;
    
    
  }



  @media only screen and (max-width: 600px){
  .modal-content {
    width: 100%;
  }
  
  
}
